<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-primary" type="button"  (click)="userPick()">Play</button>
  </div>
<div class="score-board mb-10">
    <div class="badge" id="user-label">comp : {{userSelected}}</div>
    <div class="badge" id="comp-label">comp : {{compSelected}}</div>
    <span id="user-score">{{userScore}}</span>:<span id="comp-score">{{compScore}}</span>
</div>

<div class="result">
    <p *ngIf="status">{{userSelected}} {{action}} {{compSelected}}{{status}} </p>
</div>

<p id="action-message" *ngIf="!status">You Can Make Your Move</p>
<p id="action-message" *ngIf="status">Wait...</p>